body {
    font: 1em Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header{
    background: #f87000;
    color: #ffffff;
    padding: 30px 0;
    text-align: center;
    border-radius: 58%;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.product {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product h2 {
    margin: 0;
    color: #333;
}

.product p {
    color: #666;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

form input[type="text"],
form input[type="tel"],
form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background: #28a745;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #218838;
}